*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'TTDrugs';
    src: url('../fonts/Drugs.otf');
    font-weight: bold;
    font-style: normal;
}
a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
li{
    text-decoration: none;
    list-style: none;
}
div { 
    color:#fff;
}
body{
    font-family: 'TTDrugs', sans-serif;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 90%;
}

/* --------------header------------------*/


header {
    background-color: rgba(42, 50, 55);
    padding: 2px ; 
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 99;
}
.header {
    display:grid;
    grid-template-columns: 21% 75%;
    grid-column-gap: 4%; 
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.Logo{
    width: 150px;
}
.header__nav{
   
    text-align: right;
}
.nav__text{
    display: inline;
    padding-top: 10px;  
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    font-weight: 600;
}
.icon {
    line-height: 1;
    box-sizing: border-box;
    width: 20px;
    align-items: center;
}
.topnav{
    min-height: 50px;
    font-size: 16px;
    display: block;
}
.topnav a{  
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
}
.topnav a:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #3b4850;
}

.modal__menu{
    display: none;
}

/* --------------main------------------*/
main{
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
    padding-bottom: 100px;
    color: black;
}
.navigator {
    background-color: #fff;
    color: black;
    padding-top: 105px;
    padding-bottom: 15px;
    padding-left: 20px;    
}
.navigator a {
    color: black;
}
.main__title {
    padding-top: 30px;
    font-size: 30px;
    color: black;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(212, 208, 208);
    text-align: center;
}
.main__content{
    margin-top: 40px;
    display:grid;
    grid-template-columns: 21% 75%;
    grid-column-gap: 4%; 
       
}

.video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.video{
    justify-items: center;
}
.video__iframe{
    padding-right: 10px;
    padding-left: 10px;  
}
.media__cards{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-content: space-between;
}
.card__item{
    display: none;
    background-color: #fff;
    position: relative;
}
.card__image img{
    max-width: 100%;
    height: auto;
    min-height: 350px;
    object-fit: scale-down;
}
.img__hover{
    opacity: 0;
    position: absolute;
    text-align: center;
    padding-top: 100px;
    top: 0;
    left: 0;
    background-color: rgba(0, 168, 255, 0.9);
    transition: all 0.3s ease;
    width: 100%;
    height: 45%;
}
.img__hover p{
    padding: 10px;
    color: #d1d6da ;
}
.img__hover p:nth-child(1){
    font-size: 30px;
    color: white;
}
.img__hover:hover {
    opacity: 1;
    cursor: pointer;
}

.card__content{
    color: black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.card__content h3{
    min-height: 66px;
}
.card__content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__content button {
    align-items: end;
    width: 100%;
    font-size: 18px;
    background-color: #485761;
    color: #fff;
    padding: 15px 30px;
    border: #485761 solid 1px;
    border-radius: 3px;
}
.card__content button:hover {
    border: #31b9ff solid 1px;
    background: #31b9ff;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* --------------footer------------------*/
footer {
    background: #2a3237; 
}
footer div{
    color: #afafaf;
}

.footer__nav {  
    border-bottom: 1px solid #353e42;
}
.footer__nav a{  
    text-align: center;
    padding: 30px 15px;
    font-size: 15px;
    color: #afafaf;
}
.footer__container{
    display:grid;
    grid-template-columns: 20% 50% 25%;
    grid-column-gap: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #353e42;
}
.footer__networks a{
    margin: 5px;
}
.networks__icon{
    color: #fff;
    border-radius: 3px;
    background-color: #3b4850;  
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: 24px;
    text-align: center;
}
.networks__icon:hover{
    color: #00a8ff
}

.footer__networks p{
    margin-bottom: 15px;
}

.footer__about{
    font-size: 15px;
}
.footer__contact{
    font-size: 15px;
}
.footer__contact p {
    margin-bottom: 15px;
}
.footer__contact a {
    color: darkseagreen;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 18px;
}
.footer__bottom span{
    padding-top: 10px;
}

/*----------------------------------filter---------------------*/
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  background-color: #fff;
  color: black;
  padding: 15px;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  border-radius: 3px;
  
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #f5f5f5;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
/*----------------------------------modal------------------------------*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
    border: 2px solid black ;
}

/* Modal Content/Box */
.modal-content1 {
    max-width: 550px;
    background-color:rgb(42, 50, 55);
    margin: 10% auto; 
    height: 500px; 
    padding: 20px;
    width: 80%; 
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    border-radius: 3px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
}

.modal-content1 form{
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.modal-content1 input,select{
    border: 2px solid white;
    background-color: #485761;
    padding: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    outline: none;
}
.modal-content1 button {
    width: 100%;
    font-size: 18px;
    background-color:  white;
    color: #31b9ff;
    padding: 20px 30px;
    border: white solid 1px;
    border-radius: 3px;
    margin-top: 20px;
}
.modal-content1 button:hover {
    border: #31b9ff solid 1px;
    background: #31b9ff;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.modal-content2 {
    max-width: 550px;
    background-color: white;
    color: black;
    margin: 10% auto; 
    height: 500px; 
    padding: 20px;
    width: 80%; 
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    border-radius: 3px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
}
.modal-content2 a{
 color: black;
}
::placeholder { 
    color: #ffffff;
    opacity: 1; /* Firefox */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.open-modal {
    background: transparent;
    border: none;
    color: white;
    font-size: 28px;
    padding-left: 15px;
}
.open-modal span{
    font-size: 16px;
}
.open-modal:hover {
    cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}